.myBorder
{
	background: url(img/ltCorner.png) no-repeat left top,
	url(img/lbCorner.png) no-repeat left bottom,
	url(img/rtCorner.png) no-repeat right top,
	url(img/rbCorner.png) no-repeat right bottom,
	url(img/lrBorder.png) repeat-y left,
	url(img/lrBorder.png) repeat-y right,
	url(img/tbBorder.png) repeat-x top,
	url(img/tbBorder.png) repeat-x bottom;
	padding: 60px; 
	font-size: 24px;
}